body, .p {
	font-family: $font-family;
	font-size: $font-size;
	line-height: $line-height;
	font-weight: $font-weight;
	color: $black;
	text-transform: none;
	margin: 0;
}

p + p {
	margin-top: 10px;
}

img + p {
	margin-top: 20px;
}

a {
	color: $primary-color;
	text-decoration: underline;
	outline: none;
}

h1, h2, h3, h4 {
	font-weight: $font-weight-bold;
	margin: $title-margin;
}

h1, .h1 {
	font-size: $font-size-h1;
	line-height: $line-height-h1;
	margin: $title-margin-big;
	width: 100%;
	display: inline-block;
	text-transform: uppercase;
	text-align: center;
}

h2, .h2 {
	font-size: $font-size-h2;
	line-height: $line-height-h2;
	text-transform: none;
}

h3, .h3 {
	font-size: $font-size-h3;
	text-transform: none;
}

h4, .h4 {
	font-size: $font-size-h4;
	margin: $title-margin-small;
	text-transform: none;
}

.subtitle {
	font-size: $font-size;
	font-weight: $font-weight-xbold;
	text-transform: uppercase;
	color: $primary-color;
}

.text-small {
	font-size: $font-size-s;
	font-style: italic;
	color: $grey-light;
}

.visuallyhidden {
  margin: -1px !important;
  padding: 0 !important;
  width: 1px !important;
  height: 1px !important;
  overflow: hidden !important;
  clip: rect(0 0 0 0) !important;
  clip: rect(0, 0, 0, 0) !important;
  position: absolute !important;
}

ul.list, ol.list {
	width: 100%;
	display: inline-block;
	padding-left: 50px;
	margin: 20px 0;
	li {
		padding-left: 5px;
	}
}
ul.list{li{list-style: disc;}}
ol.list{li{list-style: decimal;}}
ul.list + ul.list, ul.list + ol.list, ol.list + ol.list, ol.list + ul.list {margin-top: 0;}

.text-center {text-align: center;}
.text-right {text-align: right;}
.text-left {text-align: left;}

.introduction-text {
	margin-top: 50px;
}
