form {
	width: 100%;
	display: inline-block;
	margin: 20px 0;
}

.form-group {
	width: 100%;
	display: inline-block;
	margin: 0 0 10px;
}

label {
	width: 100%;
	display: inline-block;
	margin: 0 0 5px;
}

input, textarea {
	width: 100%;
	display: inline-block;
	padding: 10px 15px;
	margin: 10px 0;
	outline: none;
	box-shadow: none;
	border: 1px solid $black;
	font-family: $font-family;
	font-size: $font-size;
	font-weight: $font-weight-bold;
	color: $black;
	transition: all 0.2s ease-in-out;
	&:focus {
		box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 0 0 1px $black;
	}
}

textarea {
	resize: vertical;
	min-height: 180px;
}

.form-button {
	width: auto;
	margin-top: 20px;
}

::-webkit-input-placeholder { color: $grey; font-style: italic; font-weight: $font-weight;}
::-moz-placeholder { color: $grey; font-style: italic; font-weight: $font-weight;}
:-ms-input-placeholder { color: $grey; font-style: italic; font-weight: $font-weight;}
input:-moz-placeholder { color: $grey; font-style: italic; font-weight: $font-weight;}
