.grid {
	width: 100%;
	height: auto;
	display: inline-block;
	float: left;
	vertical-align: top;
	position: relative;

	&.grid-one {width: 100%;}
	&.grid-two {width: 50%;}
	&.grid-three {width: 33.33%;}
	&.grid-three-two {width: 66.66%;}
	&.grid-four {width: 25%;}
	&.grid-five {width: 20%;}
	&.grid-six {width: 16.66%;}
	&.grid-seven {width: 14.28%;}
	&.grid-eight {width: 12.5%;}
	&.grid-nine {width: 11.11%;}
	&.grid-ten {width: 10%;}

	img {display: block; margin: 0 auto;}

	&.grid-padding {
		padding: 0 $outside-padding;
	}
	h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
		&:first-child {
			margin-top: 0;
		}
	}

	&.grid-border {
		background-color: $black;
		border: $block-borders;
	}

	&.grid-vertical {
		border-bottom: $block-borders;
		& + .grid {
			border-top: $block-borders;
		}
	}
}

.grid-table {
	width: 100%;
	display: table;
	.grid-cell {
		display: table-cell;
		float: none;
		vertical-align: middle;
	}
}


@media screen and (max-width: $media-l) {
	.grid {
		&.grid-five {width: 33.33%;}
	}
}

@media screen and (max-width: $media-m) {
	.grid {
		&.grid-cell {display: inline-block}
		&.grid-two {width: 100%;}
		&.grid-three {width: 50%;}
		&.grid-padding {padding: $outside-padding 0 0 0;}
	}
}

@media screen and (max-width: $media-s) {
	.grid {
		&.grid-three {width: 100%;}
		&.grid-five {width: 50%;}
	}
}
