$logo-width: 70px;

.globalheader {
	width: 100%;
	height: $header-height;
	display: inline-block;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
	background-color: $white;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);

	// LOGO
	h1 {
		width: auto;
		height: auto;
		display: table;
		float: left;
		margin: 0;
		a {
			width: auto;
			height: $header-height;
			display: table-cell;
			vertical-align: middle;
			position: relative;
			color: $black;
			font-size: 24px;
			text-decoration: none;
			padding-left: $logo-width + 15;
			padding-right: 30px;
			&:before {
				content: "";
				width: $logo-width;
				height: 70px;
				display: inline-block;
				overflow: hidden;
				position: absolute;
				top: 0;
				left: 0;
				background-image: image-url("logo-sign.svg"), image-url("logo-home.svg");
				background-position: center center, -$logo-width center;
				background-repeat: no-repeat;
			}
		}
	}

	// LOGO
	ul {
		width: auto;
		display: inline-block;
		float: right;
		li {
			width: auto;
			display: table;
			float: left;
			a {
				width: auto;
				height: $header-height;
				display: table-cell;
				vertical-align: middle;
				padding: 10px 15px;
				color: $black;
				text-decoration: none;
				font-size: 15px;
				&:focus, &:hover {
					color: $primary-color;
				}
			}
		}
	}

	//MENU BUTTON
	button {
		display: none;
	}
}

.headroom {
	transition: all 0.3s ease-in-out;
}
// .headroom--top {
//   box-shadow: 0px 0px 0px rgba(0,0,0,.5);
// }
// .headroom--not-top {
//   box-shadow: 1px 0px 3px rgba(0,0,0,.2);
// }
.headroom--pinned {
  transform: translateY(0%);
}
.headroom--unpinned {
  transform: translateY(-100%);
}
