// GLOBAL

body {
	width: 100%;
	height: calc(100vh - 40px);
	overflow: scroll;
}

section {
	div {
		width: 100%;
		height: auto;
		display: inline-block;
		vertical-align: bottom;
	}
}

.globalcontainer {
	width: 100%;
  	max-width: 1000px;
  	display: block;
  	position: relative;
  	margin: 0 auto;
}

.content {
	width: 100%;
	display: inline-block;
	margin-top: $header-height;
	background-image: image-url("shattered.jpg");
	padding: 0 5px ($player-height + 5px) 5px;
	background-color: $white;
	position: relative;
	z-index: 1;
}

// CONTAINERS
.container-small, .container-medium, .container-xl, .container-full {
	display: block;
	position: relative;
	margin: 0 auto;
	padding: 0 $outside-padding;
}
.container-small {width: 100%; max-width: 750px;}
.container-medium {width: 100%; max-width: 1000px;}
.container-xl {width: 100%; max-width: 1600px; padding: 0;}
.container-full {width: 100%; max-width: 100%; padding: 0; display:inline-block;}

footer {
	margin: 30px auto 50px !important;
}