// GLOBAL

html {
	width: 100%;
	height: 100%;
}

body {
	width: 100%;
	height: calc(100vh - (#{$header-height} + #{$player-height}));
	overflow: scroll;
}

section {
	div {
		width: 100%;
		height: auto;
		display: inline-block;
		vertical-align: bottom;
	}
}

.globalcontainer {
	width: 100%;
  	max-width: 1000px;
  	display: block;
  	position: relative;
  	margin: 0 auto;
}

.content {
	width: 100%;
	display: inline-block;
	margin-top: $header-height;
	background-image: image-url("http://projets.gregoiredierendonck.fr/rapsodie/assets/images/shattered.jpg");
	padding: 5px;
	background-color: $white;
	position: relative;
	z-index: 1;
	margin-bottom: $player-height * 2;
}

// CONTAINERS
.container-small, .container-medium, .container-xl, .container-full {
	display: block;
	position: relative;
	margin: 0 auto;
	padding: 0 $outside-padding;
}
.container-small {width: 100%; max-width: 750px;}
.container-medium {width: 100%; max-width: 1000px;}
.container-xl {width: 100%; max-width: $max-width; padding: 0;}
.container-full {width: 100%; max-width: 100%; padding: 0; display:inline-block;}

footer {
	margin: 30px auto 50px !important;
}
