// COLORS
$white: #FFFFFF;
$black: #0D0D0D;

$grey-lighter: lighten($black, 80%);
$grey-light: lighten($black, 65%);
$grey: lighten($black, 50%);
$grey-dark: lighten($black, 35%);
$grey-darker: lighten($black, 20%);

$primary-color: #E53935;
$color-2: darken(#C97D60, 30%);
$color-3: #48392A;
$color-4: darken(#878787, 30%);
$color-5: darken(#D0D6B5, 30%);
$color-6: darken(#95ADB6, 30%);

// MAX_WIDTH
$max-width: 1600px;

// PADDINGS
$outside-padding: 30px;

// BORDERS
$base-border: 1px;
$block-borders: 5px solid $white;

// FONTS
$font-family: 'Roboto Slab', serif;

$font-weight-light: 100;
$font-weight: 300;
$font-weight-bold: 400;
$font-weight-xbold: 600;

$font-size-xxs: 10px;
$font-size-xs: 12px;
$font-size-s: 14px;
$font-size: 16px;
$font-size-l: 18px;
$font-size-xl: 22px;

$font-size-h1: 30px;
$font-size-h2: 24px;
$font-size-h3: 22px;
$font-size-h4: 18px;

$line-height: 160%;
$line-height-h1: 130%;
$line-height-h2: 120%;

$title-margin-small: 20px 0;
$title-margin: 30px 0;
$title-margin-big: 50px 0;


//BUTTONS
$buttons-margin-small: 10px;
$buttons-margin-big: 5px;

$button-padding: 10px 20px;

$button-box-shadow-small: 0 0 0 rgba(0, 0, 0, 0);
$button-box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
$button-box-shadow-big: 0 0 4px rgba(0, 0, 0, 0.5);

//SIZES
$header-height: 70px;
$sprite-e-size: 40px;

//HEADER
$header-height: 70px;
$logo-width: 240px;
$menu-button-size : 70px;
$lines-width: 26px;
$lines-height: 3px;

//IMAGE-BACKGROUND
$h1titlesize: 230px;
$imagebackgroundtextwidth: 150px;
$imagebackgroundtextheight: 100px;

// PLAYER
$player-height: 40px;
$timer-height: 1px;
$timer-height-big: 2px;
$player-background-color: $black;
$player-primary-color: $primary-color;

// MEDIA QUERIES
$media-xs: 500px;
$media-s: 650px;
$media-m: 768px;
$media-l: 900px;
$media-xl: 1100px;
