// GLOBAL
body {
}

.globalcontainer {
	width: 100%;
  	max-width: 1000px;
  	display: block;
  	position: relative;
  	margin: 0 auto;
}

.content {
	width: 100%;
	display: inline-block;
	margin-top: $header-height;
	padding-bottom: $player-height + 20;
	background-image: image-url("shattered.jpg");
}

// CONTAINERS
.container-small, .container-medium, .container-full {
	display: block;
	position: relative;
	margin: 0 auto;
	padding: 0 30px;
}
.container-small {width: 100%; max-width: 750px;}
.container-medium {width: 100%; max-width: 1000px;}
.container-full {width: 100%; max-width: 100%; padding: 0;}