.quatrecentquatre-content {
	width: 100%;
	max-width: 100%;
	height: calc(100vh - (#{$header-height} + #{$player-height} + 5px));
	display: table;
	margin: 0;
	background-image: image-url("http://www.rapsodie.pro/assets/images/404.jpg");
	background-size: cover;
	background-position: center;
	.quatrecentquatre-contener {
		display: table-cell;
		vertical-align: middle;
		.quatrecentquatre-text {
			width: 85%;
			max-width: 600px;
			display: inline-block;
			padding: 30px;
			text-align: center;
			background-color: $black;
			h1, p, .h3 {color: $white;}
			h1 {margin-top: 0; margin-bottom: 10px;}
			p, .h3 {text-align: center; margin-bottom: 30px;}
		}
	}
}