.albums-content {
	h2 {
		margin-bottom: 10px;
	}
	h3 {
		margin-bottom: 10px;
	}
	ol {
		list-style: none;
		margin-top: 0;
		-o-column-count: 2;
		-moz-column-count: 2;
		-webkit-column-count: 2;
		column-count: 2;
		counter-reset: ol-counter;
		padding-left: 30px;
		float: left;
		li {
			list-style: none;
			&:before {
				content: counter(ol-counter);
				counter-increment: ol-counter;
				width: 30px;
				height: auto;
				display: inline-block;
				color: $grey;
			}
		}
	}
	.albums-contener {
		margin-bottom: 50px;
	}
	.introduction-text {
		margin-bottom: 60px;
	}
}
