.concerts-content {
  h3 {text-align: center;}
  .concerts-list {
  	.image-background {
  		.texte {
  			h4 {
					small {
						    font-size: 12px;
						    color: $grey;
						    margin-bottom: 2px;
						    display: inline-block;
					}
				}
  		}
  	}
  }
}

@media screen and (max-width: $media-xs) {
	.concerts-list {
		.image-background {
			display: table;
			width: 100%;
			background-color: $black;
			.texte {
				width: 130px;
				min-width: 130px;
				max-width: 130px;
				display: table-cell;
				margin: 0;
				position: relative;
				top: 0;
				left: 0;
				margin: 0;
				vertical-align: middle;
			}
			.image {
				display: table-cell;
				vertical-align: middle;
			}
		}
	}
}
