.contact-contener {
  margin: 50px auto 80px;
  padding: 30px 20px;
  background-image: image-url('http://placehold.it/318x318');
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 100%;
  p {
    margin-bottom: 30px;
  }
  .contact-bloc {
    margin-bottom: 40px;
    a {
      text-transform: none;
      font-size: 18px;
      padding: 10px 30px 15px;
      margin: 10px 0 40px;
    }
  }
}
