.index-content {
	.image-background {
		.texte {
			h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
				margin: 0 0 5px;
				padding-bottom: 5px;
				border-bottom: 1px solid $white;
			}
			p {
				margin-bottom: 10px;
			}
		}
	}
	@media screen and (max-width: $media-m) {
		.grid.grid-three:last-child {
			width: 100%;
		}
	}
}