.index-content {
	.image-background {
		.texte {
			background-color: $black;
		  width: 200px;
		  margin-left: -100px;
		  min-height: auto;
		  padding: 10px 5px;
		  &.texte-big {
		  	width: 300px;
		  	margin-left: -150px;
		  }
			h2, .h2 {
				margin: 0 0 5px;
		    font-size: 24px;
		    font-weight: 300;
		    border: none;
		    padding-bottom: 0;
			}
			p {
				margin-bottom: 10px;
				font-size: 14px;
			}
		}
	}
	.dark-panel {
		border: $block-borders;
		blockquote {
			margin: 0;
		}
	}
	@media screen and (max-width: $media-m) {
		.grid.grid-three:last-child {
			width: 100%;
		}
	}
}
