.presse-content {
  h3 {text-align: center;}
  .image-background {
  	&:hover, &:focus {
  		.image, .texte {border-color: $grey;}
  		.texte {border-top: 1px solid $grey-lighter;}
  	}
  }
}

@media screen and (max-width: $media-s) {
	.presse-list {
		h4 {padding: 0 !important;}
	}
}
