.presse-content {
  h3 {text-align: center;}
  .image-background {
    background-image: image-url("http://www.rapsodie.pro/a/i/RAPSODIE-contact.jpg");
    background-size: 100% auto;
    background-attachment: fixed;
    background-poition: top center
  }
}
