.album-focus {
	width: 100%;
	display: inline-block;
	margin-bottom: $player-height + 1;
	background-color: $white;
	padding: 10px;
	color: $black;
	text-align: center;
	font-size: 14px;
	font-weight: $font-weight-bold;
}