.album-focus {
	width: 100%;
	display: inline-block;
	background-color: $white;
	padding: 10px;
	color: $black;
	text-align: center;
	font-size: 14px;
	font-weight: $font-weight-bold;
	position: fixed;
	bottom: $player-height;
	left: 0;
  p {
  	text-align: right;
  	padding-right: 10px;
  	&:after {
  		content: '';
  		width: 50px;
  		height: 30px;
  		display: inline-block;
  		background-image: image-url('http://www.rapsodie.pro/a/i/player-focus-arrow.svg');
  		background-repeat: no-repeat;
  		background-position: center;
  		position: relative;
  		top: 16px;
  	}
  }
}
