.album-focus {
	width: 100%;
	display: inline-block;
	background-color: $white;
	padding: 10px;
	color: $black;
	text-align: center;
	font-size: 14px;
	font-weight: $font-weight-bold;
	position: fixed;
	bottom: $player-height;
	left: 0;
  p {
  	text-align: right;
    width: 100%;
    max-width: $max-width;
    margin: 0 auto;
    display: inline-block;
    padding-right: 60px;
    line-height: 16px;
    vertical-align: middle;
    position: relative;
  	&:after {
      content: '';
      width: 50px;
      height: 30px;
      display: inline-block;
      background-image: image-url('http://projets.gregoiredierendonck.fr/rapsodie/assets/images/player-focus-arrow.svg');
      background-repeat: no-repeat;
      background-position: center;
      position: absolute;
      bottom: -5px;
      right: 10px;
  	}
  }
}
