$quote-sign-width: 40px;
$blockquote-margin: 20px;

.citation {
	text-align: center;
	blockquote {
		vertical-align: middle;
		display: inline-block;
		font-size: $font-size-xl;
		font-style: italic;
		color: $grey-light;
		font-weight: $font-weight-bold;
		width: auto;
		height: auto;
		padding: $blockquote-margin $quote-sign-width;
		margin: ($blockquote-margin * 3) 0;
		text-align: center;
		position: relative;
		&:before, &:after {
			content: "“";
			font-size: 80px;
			line-height: 80px;
			color: $grey-lighter;
			width: $quote-sign-width;
			height: $quote-sign-width;
			display: inline-block;
			position: absolute;
			top: 50%;
			margin-top: -20px;
			left: - $blockquote-margin;
			font-family: georgia, serif;
		}
		&:after {
			content: "”";
			left: auto;
			right: - $blockquote-margin;
		}
		p {text-align: center;}
		footer {
			width: 100%;
			display: inline-block;
			text-align: right;
			font-size: $font-size-xs;
			color: $primary-color;
			font-weight: $font-weight-light;
			margin: 0 !important;
		}
	}
}

@media screen and (max-width: $media-s) {
	.citation {
		blockquote {
			font-size: 16px;
			line-height: 20px;
			padding: 0 0 0 30px;
			margin: $blockquote-margin 0;
			&:before {top: 15px;}
			&:after {display: none;}
			p {text-align: left;}
		}
	}
}
