.calltoaction {
	margin: 50px auto 100px;
	.calltoaction-contenter {
		width: 100%;
		display: table;
		background-color: $grey-dark;
		text-align: center;
		padding: 30px 0;
		background-image: image-url("http://www.rapsodie.pro/a/i/RAPSODIE-contact.jpg");
		background-size: cover;
		.calltoaction-content {
			width: auto;
			display: table-cell;
			vertical-align: middle;
			p, a {
				width: auto;
				display: inline-block;
			}
			p {
				width: 100%;
				font-size: $font-size;
				font-weight: $font-weight;
				color: $white;
				margin-right: 30px;
				margin-bottom: 15px;
			}
		}
	}
}

@media screen and (max-width: $media-s) {
	.calltoaction .calltoaction-contenter .calltoaction-content p {width: 100% !important; text-align: center; margin: 0 0 10px !important;}
}
