$header-height: 70px;
$logo-width: 240px;

$menu-button-size : 50px; 
@mixin line {
  display: inline-block;
  width: 30px;
  height: 4px;
  background: $black;
  border-radius: $menu-button-size/14; 
  transition: .2s;
}

.globalheader {
	width: 100%;
	height: $header-height;
	display: inline-block;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 3;
	background-color: $white;
	color: $black;
	box-shadow: 0 2px 2px rgba(0,0,0,0.2);
	transition: box-shadow 0.2s ease-in-out;

	// CONTENER
	.container-medium {
		height: $header-height;
		position: relative;
	}

	// LOGO
	h1 {
		width: $logo-width;
		height: $header-height;
		display: table;
		float: left;
		margin: 0;
		position: absolute;
		top: 0;
		left: 20px;
		z-index: 2;
		a {
			width: $logo-width;
			height: $header-height;
			display: table-cell;
			vertical-align: middle;
			position: relative;
			color: $black;
			font-size: 24px;
			text-decoration: none;
			padding-left: $header-height;
			padding-right: $outside-padding;
			&:before {
				content: "";
				width: $header-height;
				height: 70px;
				display: inline-block;
				overflow: hidden;
				position: absolute;
				top: 0;
				left: 0;
				background-image: image-url("logo-sign.svg"), image-url("logo-home.svg");
				background-position: center center, -$header-height center;
				background-repeat: no-repeat;
			}
		}
	}

	// NAVIGATION
	nav {
		  width: calc(100% - 40px);
		  height: $header-height;
		  display: inline-block;
		  overflow: hidden;
		  position: absolute;
		  top: 0;
		  left: $outside-padding;
		  padding-left: $logo-width;
		  z-index: 1;
		ul {
			width: auto;
			display: inline-block;
			position: absolute;
			top: 0;
			right: 0;
			li {
				width: auto;
				display: table;
				float: left;
				a {
					width: auto;
					height: $header-height;
					display: table-cell;
					vertical-align: middle;
					padding: 10px 15px;
					color: $black;
					text-decoration: none;
					text-transform: uppercase;
					font-size: 15px;
					&:focus, &:hover {
						color: $primary-color;
					}
					&.homelink {
						display: none;
					}
					&.is-active {
						color: $primary-color;
					}
				}
			}
		}
	}

	//MENU BUTTON
	button {
  		display: none;
  		width: $menu-button-size;
  		height: $menu-button-size;
		position: absolute;
  		top: 10px;
  		right: $outside-padding;
  		z-index: 3;
  		margin: 0 !important;
  		outline: none;
		cursor: pointer;
		user-select: none;
		text-indent: -99999px;
  		background-color: $white;
  		border: none;
  		box-shadow: 0 0 2px rgba(0, 0, 0, 0);
		transition: all .2s ease-in-out;
		.lines {
			@include line;
			position: absolute;
			right: 9px;
			top: 23px; 
			&:before, &:after {
				@include line;
				content: '';
				position: absolute;
				left:0;
				transform-origin: $menu-button-size/14 center;			}
			&:before { top: $menu-button-size/6; }
			&:after { top: -$menu-button-size/6; }
		}
		&:hover {
			opacity: 1;
			box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
		}
		&:active {
			transition: 0;
			background: rgba(0,0,0,.1);
			box-shadow: 0 0 2px rgba(0, 0, 0, 0);
		}
		&.open {
			display: inline-block;
			.lines {
				/*hide the middle line*/
				background: transparent;
				/*overlay the lines by setting both their top values to 0*/
				&:before, &:after{
					transform-origin: 50% 50%;
					top:0;
					width: 30px;
				}
				// rotate the lines to form the x shape
				&:before{
					transform: rotate3d(0,0,1,45deg); 
				}
				&:after{
					transform: rotate3d(0,0,1,-45deg); 
				}
			}
		}
	}

	// SMALL VERSION
	&.small {
		h1 {
			z-index: 1;
		}
		nav {
			width: 100vw;
			height: 100vh;
			display: inline-block;
			position: fixed;
			top: -100vh;
			left: 0;
			background-color: rgba(255, 255, 255, 0.95);
			opacity: 0;
			transition: all 0.2s ease-in-out;
			z-index: 2;
			ul {
				width: 100%;
				height: auto;
				display: block;
				margin: 0 auto;
				position: absolute;
				top: 50%;
				left: 0;
				transform: translateY(-50%);
			}
			li {
				width: 100%;
				text-align: center;
				a {
					text-transform: uppercase;
					font-size: $font-size-l;
					font-weight: $font-weight-bold;
					padding: 15px;
					height: auto;
					&.homelink {
						display: table-cell;
					}
				}
			}
		}
		button {
			display: inline-block;
		}
	}
}

.headroom {
	transition: all 0.3s ease-in-out;
}
.headroom--top {
	&.globalheader {
		box-shadow: none !important;
	}
}
// .headroom--not-top
.headroom--pinned {
  transform: translateY(0%);
}
.headroom--unpinned {
  transform: translateY(-100%);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0);
}
