img {
	width: auto;
	max-width: 100%;
	vertical-align: bottom;
}

iframe {
	width: 100%;
}

.introductionimage {
	margin-bottom: 50px;
}

.videolink {
	display: inline-block;
	position: relative;
	z-index: 1;
	margin-top: 50px;
	a {
		width: 100%;
		height: 100%;
		display: inline-block;
		position: absolute;
		top: 0;
		left: 0;
		text-indent: -99999px;
		z-index: 3;
	}
	&:before {
		content: "";
		width: 0;
	    height: 0;
	    border-top: 14px solid transparent;
	    border-left: 20px solid $white;
	    border-bottom: 14px solid transparent;
	    position: absolute;
	    top: 50%;
	    left: 50%;
	    margin: -12px -5px;
	    z-index: 3;
	    transition: all 0.2s ease-in-out;
	}
	&:after {
		content: "";
		width: 60px;
		height: 60px;
		display: inline-block;
		border: 2px solid $white;
		border-radius: 100%;
		position: absolute;
		top: 50%;
		left: 50%;
		margin: -30px 0 0 -30px;
		z-index: 2;
		transition: all 0.2s ease-in-out;
	}
	&:hover, &:focus {
		&:before {
			border-left: 20px solid $black;
		}
		&:after {
			background-color: $white;
		}
	}
}
