img {
	width: auto;
	max-width: 100%;
	vertical-align: bottom;
}

iframe {
	width: 100%;
}

.introductionimage {
	margin-bottom: 50px;
}

.image-background {
	display: inline-block;
	position: relative;
	border: 1px solid $white;
	img {
		width: 100%;
		height: auto;
		position: relative;
		top: 0;
		left: 0;
		z-index: 1;
	}
	.texte {
		width: auto;
		height: auto;
		display: inline-block;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateY(-50%);
		z-index: 3;
		text-align: center;
		padding: 20px 10px;
		background-color: rgba(0, 0, 0, 0.9);
		padding: 10px 0;
		h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
			width: 100%;
			display: inline-block;
			margin: 0;
			padding: 10px 20px;
			color: $white;
			text-transform: uppercase;
		}
		p {
			width: 90%;
			display: inline-block;
			line-height: 120%;
			color: $white;
		}
	}
	.button {
		margin-top: 10px;
	}
}

.videolink {
	position: relative;
	z-index: 1;
	a {
		width: 100%;
		height: 100%;
		display: inline-block;
		position: absolute;
		top: 0;
		left: 0;
		text-indent: -99999px;
		z-index: 3;
	}
	&:after {
		content: "";
		width: 100px;
		height: 100px;
		display: inline-block;
		background-color: rgba(0, 0, 0, 0.2);
		border-radius: 100%;
		position: absolute;
		top: 50%;
		left: 50%;
		margin: -50px 0 0 -50px;
		z-index: 2;
		transition: all 0.2s ease-in-out;
	}
	&:hover, &:focus {
		&:after {
			width: 120px;
			height: 120px;
			margin: -60px 0 0 -60px;
			background-color: rgba(0, 0, 0, 0.5);
		}	
	}
}