@keyframes loaderrotation {
    from {transform: rotate(0deg)}
    to {transform: rotate(360deg)}
}

// STRUCTURE
.containerplayer {
	width: 100%;
	height: $player-height;
	display: inline-block;
	text-align: center;
	background: $player-background-color;
	z-index: 2;
	position: fixed;
	bottom: 0;
	left: 0;
}

#wrapperaudiojs {
	width: 100%;
	height: $player-height;
	position: relative;
	text-align: center;
	transition: height 0.2s ease-in-out 0s;
}

// PLAYER
.audiojs {
	width: 100%;
	height: 100%;
	display: table;
	overflow: hidden;
	font-size: $font-size-xs;
	position: relative;
	z-index: 1;
	audio {
		position: absolute;
		left: -1px;
	}
	.play-pause {
		width: $player-height + 10;
		height: $player-height;
		display: table-cell;
		margin: 0;
		overflow: hidden;
		cursor: pointer;
		background-color: $player-background-color;
		.play, .loading, .pause, .error {
			width: $player-height;
			height: $player-height;
			background: image-url("http://www.rapsodie.pro/a/i/icon-sprite.svg");
			margin: 0 !important;
			position: relative;
		}
		.play {
			display: block;
			background-position: 7px 0;
		}
		.loading {
			transform-origin: ($sprite-e-size / 2 - 2) ($sprite-e-size / 2);
			background-position: ($sprite-e-size - 2) (- $sprite-e-size * 2);
			animation-name: loaderrotation;
    		animation-duration: 0.5s;
    		animation-iteration-count: infinite;
    		animation-timing-function: linear;
		}
		.pause {
			background-position: 7px (- $sprite-e-size);
		}
		.error {
			background-position: 7px (- $sprite-e-size * 3);
			cursor: auto;
			.error {
				display: block;
			}
			.error-message {
				display: block;
			}
			.time, .play, .pause, .scrubber, .loading {
				display: none;
			}
		}
	}
	p {
		display: none;
	}
	.scrubbercontener {
		width: auto;
		height: $player-height;
		display: table-cell;
		position: relative;
		overflow: hidden;
		cursor: pointer;
		padding: 0 30px;
		background-color: $player-background-color;
		.scrubber {
			width: 100%;
			height: $player-height;
			display: inline-block;
			position: relative;
			overflow: hidden;
			background-color: $player-background-color;
			.progress {
				width: 0;
				height: $timer-height;
				position: absolute;
				top: 50%;
				left: 0;
				z-index: 1;
				margin-top: - $timer-height / 2;
				background-color: $player-primary-color;
				transition: all 0.2s ease-in-out;
			}
			.loaded {
				width: 0;
				height: $timer-height;
				position: absolute;
				top: 50%;
				left: 0;
				background-color: $grey-darker;
				transition: all 0.2s ease-in-out;
				margin-top: - $timer-height / 2;
			}
		}
	}
	&:hover, &:focus {
		.scrubber {
			background-color: $player-background-color;
			.progress, .loaded {
				height: $timer-height-big;
				margin-top: - $timer-height-big / 2;
			}
		}
	}
	.time {
		width: 100px;
		height: $player-height;
		display: table-cell;
		line-height: $player-height;
		color: $grey-light;
		text-align: center;
		font-size: $font-size-xxs;
		background-color: $player-background-color;
		em {
			padding: 0 2px 0 0;
			font-style: normal;
		}
		strong {
			padding: 0 0 0 2px;
			font-weight: $font-weight;
		}
	}
	.play, .loading, .error, .pause, #tracklist {
		background: $player-background-color;
	}
	&.playing .play, &.playing .loading, &.playing .error,
	&.loading .play, &.loading .pause, &.loading .error {
		display: none;
	}
	&.playing .pause, &.loading .loading {
		display: block;
	}
}

// TRACK LIST
#tracklist {
	width: $player-height + 10;
	height: $player-height;
	position: relative;
	display: table-cell;
	text-indent: -999999px;
	cursor: pointer;
	overflow: hidden;
	background: image-url("http://www.rapsodie.pro/a/i/icon-sprite.svg") $player-background-color !important;
	background-position: 5px (- $sprite-e-size * 2) !important;
	transition: all 0.2s ease-in-out;
	&.tracklist-opened {
		background-position: 5px (- $sprite-e-size * 3) !important;
	}
}
#playerlist {
		width: 250px !important;
		max-width: 100% !important;
		display: inline-block;
		overflow: visible;
		position: absolute;
		bottom: 0;
		right: 0;
		margin: 0 auto !important;
		padding: 0 !important;
		text-align: left;
		background-color: $player-background-color;
		counter-reset: mycontenercounter;
		list-style: decimal inside none;
		z-index: 0;
		transition: top 0.2s ease-in-out;
		li {
			width: 100%;
			display: inline-block;
			position: relative;
			padding-left: 30px;
			z-index: 1;
			font-size: $font-size-s;
			&:hover, &:focus {
				background-color: lighten($player-background-color, 8%);
			}
			&:before {
				width: 20px;
				height: 20px;
				display: inline-block;
				line-height: 20px;
				position: absolute;
				top: 13px;
				left: 20px;
				background-color: $player-primary-color;
				border-radius: 100%;
				color: $white;
				text-align: center;
				content: counter(mycontenercounter, decimal);
				counter-increment: mycontenercounter;
			}
			&:first-child {
				margin-top: 10px !important;
			}
			&:last-child {
				margin-bottom: 10px !important;
				border: none;
			}
			a {
				display: inline-block;
				line-height: 100%;
				padding: 15px 0 15px 25px;
				text-decoration: none !important;
				width: 100%;
				color: $player-primary-color !important;
			}
			&.playing {
				a {
					color: $white !important;
				}
				&:before {
					color: $player-background-color !important;
					background-color: $white !important;
				}
			}
		}
}

// ERRORS
.error-message {
	width: 100%;
	height: $player-height;
	display: none;
	float: left;
	margin: 0px 10px;
	overflow: hidden;
	line-height: 36px;
	white-space: nowrap;
	color: $white;
	text-overflow: ellipsis;
	a {
		color: $grey-light;
		text-decoration: none;
		padding-bottom: 1px;
		border-bottom: 1px solid $grey-light;
		white-space: wrap;
	}
}
